<div class="row">
    <div class="container">
        <div class="logo">
            <a href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa"> <img src="../../../assets/Logos proyecto/APLogo.png" 
            alt="logoAP" 
            id="logoAP" class="img-fluid"></a>
        </div>
        <div class="redes">
            <a href="https://www.facebook.com/mauro.pintoscarp"><img src="../../../assets/Logos proyecto/facebook.png" alt="facebook"></a>
            <a href="https://github.com/github"><img src="../../../assets/Logos proyecto/github.png" alt="GitHub"></a>
            <a href="https://twitter.com/mase_pintos"><img src="../../../assets/Logos proyecto/twitter.png" alt="Twitter"></a>
            <a href="https://www.instagram.com/mauropintosok/"><img src="../../../assets/Logos proyecto/instagram.png" alt="instagram"></a>
        <button type="button" class="btn btn-outline-light"(click)="login()"*ngIf="!isLogged"> INGRESO</button>
        <button type="button" class="btn btn-outline-light"(click)="onLogOut()"*ngIf="isLogged"> CERRAR SESION</button>
        </div>
    </div>
    

    