<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h2>GREEN MARKET</h2> - <h3>2 años</h3>
            </li>
            <p>Sector Comida vegetariana - Atención al publico - Mantenimiento de zona de cocina -  Cocina - Mozo</p>
        </ul>
        <ul>
            <li>
                <h2>GRAFICA GANDHI</h2> - <h3>1 año</h3>
            </li>
            <p>Sector Administrativo - Atención al publico - Atención a proveedores</p>
        </ul>
        <ul>
            <li>
                <h2>CYBER MILENIUM</h2> - <h3>2 años</h3>
            </li>
            <p> Atención al público - Atención a proveedores - Uso y manejo de maquinas de impresión (A3, A4, laser -  chorro 			de tinta, en adhesivo, realizacion de tarjetas personales, etc) 
     </p>
        </ul>
        <ul>
            <li>
                <h2> MOVISTAR </h2> - <h3>2 años</h3>
            </li>
            <p>Administrativo - Control de calidad - Administración de solicitudes de grupo - Organización de grupo
     </p>
        </ul>
        <ul>
            <li>
                <h2> GRS CHILE  </h2> - <h3>1 año</h3>
            </li>
            <p>EMPRESA DE GEOFISICA - Ayudante de Campo - Manejo de vehículos 4x4 - Trabajos de Geofísica</p>
        </ul>
    </div>
</div>
