<div class="row">
    <div class="container">    <h1>Proyectos</h1>   
    </div> 

    <div class="container">
        <ul>
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h3>Portfolio</h3>
            <p>Porfolio como proyecto final, para la Segunda Etapa de Argentina Programa, #YoProgramo</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 
        offset-md-1 offser-lg-1 parte2">
            <img src=""
            class="img-fluid
            img-proyecto">
        </div>
    </ul>
    </div>
</div>