<div class="row">
    <div class="container"> <h1>Hard an Soft Skills</h1>   
    </div> 
    
    <div class="text center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="33" 
        [radius]="100"
        [title]="'Ingles'"
        [imageSrc]="'E:\1.programacion\final\ProyectoFinal\ProyectoIntegrador\src\assets\iconos\ingles.png'"
        [showImage]="false"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#1465bb'"
        [innerStrokeColor]="'#2196f3'"
        [animation]="true"
        [animationDuration]="600"
></circle-progress>
    </div>

    <div class="text center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="25" 
        [radius]="100"
        [title]="'Italiano'"
        [imageSrc]="''"
        [showImage]="false"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#ff69b4'"
        [innerStrokeColor]="'#ffa8d9'"
        [animation]="true"
        [animationDuration]="600"
></circle-progress>
    </div>
    
    <div class="text center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="20" 
        [radius]="100"
        [title]="'Frances'"
        [imageSrc]="''"
        [showImage]="false"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#666666'"
        [innerStrokeColor]="'#8c8c8c'"
        [animation]="true"
        [animationDuration]="600"
></circle-progress>
    </div>

    <div class="text center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="25" 
        [radius]="100"
        [title]="'CorelDraw'"
        [imageSrc]="''"
        [showImage]="false"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#3c0000'"
        [innerStrokeColor]="'#670010'"
        [animation]="true"
        [animationDuration]="600"
></circle-progress>
    </div>

    <div class="text center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="15" 
        [radius]="100"
        [title]="'HTML'"
        [imageSrc]="''"
        [showImage]="false"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#7f00b2'"
        [innerStrokeColor]="'#bc4ed8'"
        [animation]="true"
        [animationDuration]="600"
></circle-progress>
    </div>

    <div class="text center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="45" 
        [radius]="100"
        [title]="'Office'"
        [imageSrc]="''"
        [showImage]="false"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#960018'"
        [innerStrokeColor]="'#cb4c46'"
        [animation]="true"
        [animationDuration]="600"
></circle-progress>
    </div>

    <div class="text center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="75" 
        [radius]="100"
        [title]="'Creatividad'"
        [imageSrc]="''"
        [showImage]="false"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600"
></circle-progress>
    </div>
  
    <div class="text center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="90" 
        [radius]="100"
        [title]="'TeamWork'"
        [imageSrc]="''"
        [showImage]="false"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600"
></circle-progress>
    </div>

    <div class="text center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="80" 
        [radius]="100"
        [title]="'Oratoria'"
        [imageSrc]="''"
        [showImage]="false"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600"
></circle-progress>
    </div>
</div>
