<div class="row">
    <div class="container"> <h1>Hard an Soft Skills</h1>   
    </div> 

    <div class="text center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="25" 
        [radius]="100"
        [title]="'CorelDraw'"
        [imageSrc]="'../../../assets/FALTANTES/LOGO-CORELDRAW.png'"
        [showImage]="true"
        [backgroundColor] = "'white'"
        [imageHeight]="80"
        [imageWidth]="80"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#256d7b'"
        [innerStrokeColor]="'#7fffd4'"
        [animation]="true"
        [animationDuration]="600"
></circle-progress>
    </div>

    <div class="text center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="40" 
        [radius]="100"
        [title]="'Office'"
        [imageSrc]="'../../../assets/FALTANTES/png-logo-office.jpg'"
        [showImage]="true"
        [imageHeight]="90"
        [imageWidth]="95"
        [showSubtitle]="false"
        [backgroundColor] = "'white'"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#256d7b'"
        [innerStrokeColor]="'#7fffd4'"
        [animation]="true"
        [animationDuration]="600"
></circle-progress>
    </div>

    <div class="text center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="15" 
        [radius]="100"
        [title]="'HTML'"
        [imageSrc]="'../../../assets/iconos/html.png'"
        [showImage]="true"
        [imageHeight]="80"
        [imageWidth]="80"
        [showSubtitle]="false"
        [backgroundColor] = "'white'"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#256d7b'"
        [innerStrokeColor]="'#7fffd4'"
        [animation]="true"
        [animationDuration]="600"
></circle-progress>
    </div>
    <div class="text center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="33" 
        [radius]="100"
        [title]="'Ingles'"
        [imageSrc]="'../../../assets/iconos/ingles.png'"
        [showImage]="true"
        [imageHeight]="80"
        [imageWidth]="80"
        [showUnits]="false"
        [showSubtitle]="false"
        [backgroundColor] = "'white'"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#256d7b'"
        [innerStrokeColor]="'#7fffd4'"
        [animation]="true"
        [animationDuration]="600"
></circle-progress>
    </div>

    <div class="text center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="25" 
        [radius]="100"
        [title]="'Italiano'"
        [imageSrc]="'../../../assets/FALTANTES/SodaPDF-converted-italiano.png'"
        [showImage]="true"
        [imageHeight]="80"
        [imageWidth]="75"
        [showSubtitle]="false"
        [backgroundColor] = "'white'"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#256d7b'"
        [innerStrokeColor]="'#7fffd4'"
        [animation]="true"
        [animationDuration]="600"
></circle-progress>
    </div>
    
    <div class="text center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="20" 
        [radius]="100"
        [title]="'Frances'"
        [imageSrc]="'../../../assets/iconos/frances.png'"
        [showImage]="true"
        [backgroundColor] = "'white'"
        [imageHeight]="80"
        [imageWidth]="110"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#256d7b'"
        [innerStrokeColor]="'#7fffd4'"
        [animation]="true"
        [animationDuration]="600"
></circle-progress>
    </div>



    <div class="text center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="75" 
        [radius]="100"
        [title]="'Creatividad'"
        [imageSrc]="'../../../assets/iconos/creative.png'"
        [showImage]="true"
        [backgroundColor] = "'white'"
        [imageHeight]="90"
        [imageWidth]="90"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#256d7b'"
        [innerStrokeColor]="'#7fffd4'"
        [animation]="true"
        [animationDuration]="600"
></circle-progress>
    </div>
  
    <div class="text center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="90" 
        [radius]="100"
        [title]="'TeamWork'"
        [imageSrc]="'../../../assets/FALTANTES/GRUPO.jpg'"
        [showImage]="true"
        [imageHeight]="90"
        [imageWidth]="90"
        [animateTitle]="true"
        [showSubtitle]="false"
        [backgroundColor] = "'white'"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#256d7b'"
        [innerStrokeColor]="'#7fffd4'"
        [animation]="true"
        [animationDuration]="600"
></circle-progress>
    </div>

    <div class="text center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="80" 
        [radius]="100"
        [title]="'Oratoria'"
        [imageSrc]="'../../../assets/FALTANTES/oratoria.jpg'"
        [showImage]="true"
        [imageHeight]="100"
        [imageWidth]="100"
        [showSubtitle]="false"
        [backgroundColor] = "'white'"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#256d7b'"
        [innerStrokeColor]="'#7fffd4'"
        [animation]="true"
        [animationDuration]="600"
></circle-progress>
    </div>
</div>
